
@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="~/Scripts/app/controllers/search.js"></script>
}
<div class="row" ng-app="bookStore" ng-controller="mainCtrl">
    <div class="col-xs-4">

        <div class="form-group">
            <label for="isbns">ISBNS:</label>
            <textarea class="form-control" rows="15" id="isbns" style="width: 100%;" ng-model="isbns"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="getBooks()">Search</button>
        </div>
    </div>

    <div class="col-xs-8">
        <div class="row list">
            <div class="col-xs-3 item animate-repeat" ng-repeat="book in books">
                <a ng-href="{{book.Url}}"><img class="img-rounded center-block img-fluid" ng-src="{{book.Imageurl}}" /></a>
                <div class="title">
                    <a ng-href="{{book.Url}}">{{book.Title}}</a>
                </div>
            </div>
        </div>
        <div class="row text-center" ng-show="books.length>0 && enableLoadMore">
            <button class="btn btn-primary text-center" ng-click="loadMore()">Load More</button>
        </div>
    </div>
</div>
